.header {
  color: $primary;
  background-color: rgba($color: #e0e0e0, $alpha: 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
  .container {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
